* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    background: url('../img/omoribg_dark.gif') no-repeat center/cover;

}

body * {
    color:white;
}

p{
    font-size: 32px;
    font-family: 'VT323', cursive;
}

a{
    text-decoration: none;
}

#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
    border: 4px solid transparent;
    border-radius: 20px;
    background: 
    linear-gradient(rgb(26, 25, 25), rgb(73, 72, 72)) padding-box,
    linear-gradient(90deg, #3f3f3f, #dadbe4) border-box; 
}

#janela {
    position: fixed;  
    top: 50px;        
    left: 50px;
    width: 900px;     
    height: auto;
    z-index: 999;     
    display: none;
}
  

#profile{
    text-align:center;
    padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: rgb(204, 204, 204) url(../img/lightbulb_Omori.gif) no-repeat center;
    background-size: 20px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}

.light #switch button{
    animation: slide-in 0.2s forwards;
    background: rgb(204, 204, 204) url(../img/lightbulblight_Omori.gif) no-repeat center;
    background-size: 20px;
}

#switch button:hover{
    background: rgb(255, 255, 255)url(../img/lightbulblight_Omori.gif) no-repeat center;
    background-size: 20px;
}

.light #switch button:hover{
    background: rgb(255, 255, 255)url(../img/lightbulb_Omori.gif) no-repeat center;
    background-size: 20px;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.light #switch span{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 16px 24px;
    background: rgba(158, 154, 160, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
    font-family: 'Press Start 2P', cursive;
}

ul li a:hover{
    background: rgba(0, 0, 0, 0.02);
    border: 1.5px solid white;
}

.light ul li a:hover{
    background: rgba(0, 0, 0, 0.02);
    border: 1.5px solid black;
}

#social-links{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background: rgba(255, 255, 255, 0.2);
}

.light #social-links a:hover{
    background: rgba(0, 0, 0, 0.1);
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'vt323', monospace;
}

@media (min-width: 700px) {
    body{
        background: url(../img/omoribg_dark.gif) no-repeat top center/cover;

    }

    .light body{
        background: url(../img/omoribg_light.gif) no-repeat top center/cover;
    }
} 

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

